{% extends 'admin.html.twig' %}

{% block title %}Envoyer un message!{% endblock %}

{% block body %}
    <style>
        .inputgroup {
            margin: 2px;
        }
        .monmessage {
            display: flex;
            flex-direction: column;
        }
    </style>
    <form class="monmessage" action="{{ asset('/send/message') }}" method="POST">
        <h2>Envoyer un message client whatsapp</h2>
        <p>Mon message whatapp</p>
        <div class="inputgroup">
            <input type="phone" name="phone" placeholder="Numero téléphone" value="34676104574" />
        </div>
        <div class="inputgroup">
            <textarea name="message" placeholder="Text message" rows="5"></textarea>
        </div>
        <div class="inputgroup">
            <button class="" type="submit">Envoyée</button>
        </div>
    </form>

{% endblock %}
